.radius {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bg-orange {
    background: linear-gradient(to right, #F3B33E, #EB693C);
}

.background {
    background: #FEF3F2;
    height: 3rem;
}

.bg-overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
    z-index: 0;
    background: linear-gradient(to right, #F3B33E, #EB693C);
    border-top-left-radius: 40px;
}

.text-orange {
    color: #EB693C;
}