.custom-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border: none;
  padding: 10px;
}

.carousel-control-prev.custom-control {
  left: 15px;
}

.carousel-control-next.custom-control {
  right: 15px;
}

.bg-orange {
  background: linear-gradient(to right, #F3B33E, #EB693C); 
}