<div class="container-fluid background p-0 mt-2">
    <div class="container">
        <div class="row align-items-center">

            <!-- Left Side -->
            <div class="col-6 text-black">
                <h6 class="fw-bold">Join our sacred circle</h6>
                <div>Stay up to date with the latest temple news, donation opportunities and community stories</div>
            </div>


            <!-- Right Side -->
            <div class="col-6 d-flex justify-content-end">
                <div class="d-flex">
                    <input type="email" class="form-control form-control-sm me-2" placeholder="Enter your email"
                        style="max-width: 250px;" />
                    <button class="btn bg-orange btn-sm text-white" type="button">Subscribe</button>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid bg-orange text-white pt-4 pb-2">
        <div class="container">
            <div class="row">
                <!-- Left Column -->
                <div class="col-6 bg-footer">
                    <div class="row">
                        <div class="col" *ngFor="let group of leftLinks">
                            <h6 class="fw-bold">{{ group.heading }}</h6>
                            <ul class="list-unstyled">
                                <li *ngFor="let item of group.items">
                                    <a href="#" class="text-white text-decoration-none">{{ item }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Right Column -->
                <div class="col-6 bg-footerright">
                    <div class="row">
                        <div class="col" *ngFor="let group of rightLinks">
                            <h6 class="fw-bold">{{ group.heading }}</h6>
                            <ul class="list-unstyled">
                                <li *ngFor="let item of group.items">
                                    <a href="#" class="text-white text-decoration-none d-flex align-items-center">
                                        <i *ngIf="group.heading === 'Social' && item.icon" [class]="item.icon"></i>
                                        <span [class.ms-2]="group.heading === 'Social'">{{ item.label }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="col">
                            <h6 class="fw-bold">{{ getAppSection.heading }}</h6>
                            <ng-container *ngFor="let icon of getAppSection.icons">
                                <div class="border rounded p-2 mb-2 text-white ">
                                    <div class="d-flex align-items-center">
                                        <i [class]="icon.class" style="font-size: 1.5rem;"></i>
                                        <div class="ms-3 text-start">
                                            <small class="d-block" style="font-size: 0.7rem;">{{ icon.subtext }}</small>
                                            <span class="fw-semibold">{{ icon.label }}</span>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <hr class="border-white my-3">
                <div class="d-flex justify-content-between align-items-center px-3 py-2">
                    <img src="/assets/images/logo.png" alt="Logo" style="height: 40px;">
                    <small class="text-white">© 2024 DOOJ. All rights reserved.</small>
                </div>

            </div>
        </div>
    </div>